<?xml version="1.0" encoding="utf-8"?>
<service version="1.0">
	<short>glusterfs</short>
	<description>GlusterFS Server</description>
	<port port="24007" protocol="tcp"/>
	<port port="24008" protocol="tcp"/>
	<port port="24009" protocol="tcp"/>
	<port port="38465-38469" protocol="tcp"/>
	<port port="49152-49251" protocol="tcp"/>
</service>
